---
apiVersion: v1
kind: Namespace
metadata:
  name: api-ns 
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-ops
  namespace: api-ns
  labels:
    app.kubernetes.io/name: api-ops
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: api-ops
  template:
    metadata:
      labels:
        app.kubernetes.io/name: api-ops
    spec:
      containers:
        - image: m0dularm1nd/cicd-api:37
          name: api-ops
          resources:
            limits:
              memory: "128Mi"
              cpu: "100m"
---
apiVersion: v1
kind: Service
metadata:
  name: api-ops-svc
  namespace: api-ns
  labels:
    app.kubernetes.io/name: api-ops
spec:
  selector:
    app.kubernetes.io/name: api-ops
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 3000
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: api-ops-ingress
  namespace: api-ns
  annotations:
    cert-manager.io/cluster-issuer: lets-encrypt
spec:
  tls:
    - hosts:
        - api.v3il.xyz
      secretName: api-ingress-tls
  rules:
    - host: api.v3il.xyz
      http:
        paths:
          - backend:
              service:
                name: api-ops-svc
                port:
                  number: 80
            path: /
            pathType: Prefix
---
